@model WebApplication1.Models.Result

@{
    ViewData["Title"] = "Delete";
}

<h1>删除</h1>

<h3>你确定要删除吗？</h3>
<div>
    <h4>Result</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StuName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StuName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Create)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Create)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type.Name)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
